<% include ../partials/header %>


<header class="jumbotron">
    <div class="container">
        <h1>Welcome To BrewList!</h1>
        <p>View our collection of hand-picked breweries from all over the world</p>
        <p>
            <a class="btn btn-primary btn-large" href="/breweries/new">Add New Brewery</a>
        </p>
    </div>
</header>
<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% breweries.forEach(function(Brewery){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= Brewery.image %>">
                <div class="caption">
                    <h4><%= Brewery.name %></h4>
                </div>
                <p>
                    <a href="/breweries/<%= Brewery._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>
